/* start variables */
:root {
  --main-color: #6d91ee;
  --secondary-color: #4f4f4f;
  --white-color: #fff;
  --dark-blue: #0c1e49;
}
/* end variables */
/* start Global Rules */
* {
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* margin: 0;
  padding: 0; */
  font-family: "Poppins", sans-serif;
}
/* end Global Rules */
/* start Components -- override the bootstrap Colors */
.primary-color{
  color: var(--main-color);
}

.btn-primary {
  --bs-btn-color: var(--white-color);
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.btn-small {
  border-radius: 20px;
  /* width: 167px;
  height: 50px; */
  flex-shrink: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn-large {
  border-radius: 71px;
  /* width: 280px;
  height: 86px; */
  font-size: 24px;
  font-weight: 700;
}

.special-heading {
  color: var(--main-color);
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 5.59375rem;
  padding-bottom: 4rem;
  position: relative;
  
}
.special-heading::before{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 20%;
  top: 0;
  right: 820px;
  transform: rotateZ(45deg);

}
.special-heading::after{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 20%;
  top: 0;
  right: 505px;
  transform: rotateZ(315deg);
  -webkit-transform: scaleX(25deg);
  -moz-transform: scaleX(25deg);
  -ms-transform: scaleX(25deg);
  -o-transform: scaleX(25deg);
}
/* .special-heading::after{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 20%;
  top: 60px;
  right: 505px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
} */
/* end components */
/* start Header */
header {
  /* background-color: var(--white-color); */
  height: 100vh;
  position: relative;
  background: left 5% / 15% 60% no-repeat url("assets/Vector7.png");
  background: lightgray 50% / cover no-repeat url(assets/Vector7.png);
}
header .container .title {
  color: var(--main-color);
}
header .container svg {
  width: 5.1875rem;
  height: 3.6875rem;
}
header .container .logo {
  margin-bottom: 125px;
}
header .container .title h2 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 118.5%;
}
header .container .title p {
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 118.5%;
  letter-spacing: 0.99094rem;
}
@media (max-width: 768px) {
  header .container .title h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 118.5%;
  }
  header .container .title p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 118.5%;
    letter-spacing: 0.33rem;
  }

}
header .container .description {
  color: var(--secondary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

header .container .description p {
  max-width: 30rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.59375rem;
}
header .container .description .small-lorem {
  color: var(--Gray-2, #4f4f4f);
  font-size: 90px;
  font-weight: 250;
  line-height: 5.59375rem;
}

header .container .description .bold-lorem {
  color: var(--Gray-2, #4f4f4f);
  font-size: 90px;
  font-weight: 800;
  line-height: 5.59375rem;
  margin-top: -5px;
}
@media (max-width: 768px) {
  header .container .description .small-lorem {
    font-size: 60px;
   
  }
  header .container .description .bold-lorem {
    font-size: 30px;
    line-height: 1;

  }
}
@media (min-width: 768px) and (max-width: 1200px){
  
  header .container .description .small-lorem {
    font-size: 80px;
    line-height: 5rem;
    
  }
  header .container .description .bold-lorem {
    font-size: 30px;
    line-height: 1;

  }
}
/* end Header */
/* start about sectio */
.about{
  background: url("assets/about.jpeg") center center/cover;
  padding: 8rem 0 8rem;
  position: relative;
  overflow: hidden;
}
.about::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(109 145 238 / 70%);
}
.about * {
  z-index: 10;
}
.about::before{
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  right: -280px;
  top: 0;
  background-color: var(--main-color);
  border-radius: 10% 0 0 0;
  -webkit-border-radius: 10% 0 0 0;
  -moz-border-radius: 10% 0 0 0;
  -ms-border-radius: 10% 0 0 0;
  -o-border-radius: 10% 0 0 0;
  transform: skewX(338deg);
  -webkit-transform: skewX(338deg);
  -moz-transform: skewX(338deg);
  -ms-transform: skewX(338deg);
  -o-transform: skewX(338deg);
}
/* end about section */
/* start services section */
.services{
  padding: 8rem 0 8rem;
  overflow: hidden;
}

.services .card:hover{
  box-shadow: 0px 10px 30px 0px rgba(16, 51, 30, 0.10);
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.services .card img{
  height: 500px;
}
.services .img-overlay{
  position: relative;
  overflow: hidden;

}

.services .img-overlay::before{
  content: "Service";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all .23s ease-in;
  font-size: 1.5rem;
  color: var(--white-color);
  background-color: rgb(109 145 238 / 70%);
  -webkit-transition: all .23s ease-in;
  -moz-transition: all .23s ease-in;
  -ms-transition: all .23s ease-in;
  -o-transition: all .23s ease-in;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.services .card .img-overlay:hover::before{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
/* end services section */
/* start testymonials section */
.testymonials{
  padding: 8rem 0 8rem;
  overflow: hidden;
  background-color: #f4f4f4;
}
.testymonials img{
  width: 64px;
}
/* .testymonials .media-body .h5{
  color: var(--main-color);
} */
.testymonials .media:hover {
  color: white!important;
  background-color: var(--main-color);
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  box-shadow: 0px 10px 30px 0px rgba(16, 51, 30, 0.10);
}
.testymonials .media:hover .h5{
  color: white!important;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.rounded-pill-new{
  border-radius: 2.5rem;
  -webkit-border-radius:2.5rem;
  -moz-border-radius:2.5rem;
  -ms-border-radius:2.5rem;
  -o-border-radius:2.5rem;
}