<!-- Start Testymonials section -->
<div class="testymonials">
    <div class="special-heading">Testymonials</div>
    <div class="container">
      <div class="row justify-content-center gap-2">
        <div class="col-lg-5 col-md-12" *ngFor="let user of users">
          <div class="media d-flex justify-content-between gap-4 border border-primary rounded-pill-new p-5 ">
            <img
              [src]="user.avatar" alt="User Avatar"
              class="align-self-start rounded-pill img-fluid"
              alt="..."
            />
            <div class="media-body">
              <div class="h5 mt-0 fw-bold mb-3 primary-color"  >{{ user.first_name }} {{ user.last_name }}</div>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book
            </div>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <!-- <div class="col-lg-5 col-md-12">
          <div class="media d-flex justify-content-between gap-4 border border-primary rounded-pill-new p-5 ">
            <img
              src="../assets/person.jpg"
              class="align-self-start rounded-pill img-fluid"
              alt="..."
            />
            <div class="media-body ">
              <div class="h5 mt-0 fw-bold mb-3 primary-color">Courtney Henry</div>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book
            </div>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="media d-flex justify-content-between gap-4 border border-primary rounded-pill-new p-5 ">
            <img
              src="../assets/person.jpg"
              class="align-self-start rounded-pill img-fluid"
              alt="..."
            />
            <div class="media-body ">
              <div class="h5 mt-0 fw-bold mb-3 primary-color">Courtney Henry</div>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book
            </div>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="media d-flex justify-content-between gap-4 border border-primary rounded-pill-new p-5 ">
            <img
              src="../assets/person.jpg"
              class="align-self-start rounded-pill img-fluid"
              alt="..."
            />
            <div class="media-body ">
              <div class="h5 mt-0 fw-bold mb-3 primary-color">Courtney Henry</div>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book
            </div>
            <i class="fa-solid fa-star"></i>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- end Testymonials section -->
 