<!-- start contact section -->
<div class="contact">
  <div class="container">
    <div class="special-heading">Contact Us</div>
    <div class="row gap-5 justify-content-center">
      <form
        class="form-group col-lg-4 col-sm-12 text-center"
        #form="ngForm"
        (ngSubmit)="addContact()"
      >
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder=" Name required"
          required
          minlength="10"
          name="name"
          [(ngModel)]="addContect.name"
          required
          #name="ngModel"
          name="firstName"
          [ngClass]="{
            'is-invalid': (name.touched || name.dirty) && !name.valid
          }"
        />

        <!-- //validation on Name -->
        <span class="invalid-feedback mb-3">
          <span *ngIf="name.errors?.['required']">
            please enter a valid name
          </span>

          <span *ngIf="name.errors?.['minlength']">
            please enter name more than 10 characters
          </span>
        </span>

        <input
        type="email"
        class="form-control"
        id="email"
        placeholder="email required"
        required
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        [(ngModel)]="addContect.email"
        #email="ngModel"
        name="email"
        [ngClass]="{
          'is-invalid': (email.touched || email.dirty) && !email.valid
        }"
        />
        <!-- //validation on Email -->
        <span class="invalid-feedback mb-3">
          <span *ngIf="email.errors?.['required']"> please enter an email </span>
          <span *ngIf="email.errors?.['pattern']">
            please enter a valid email
          </span>
        </span>

        <input
        type="number"
        class="form-control"
        id="Phone"
        placeholder="Phone required"
        required
        pattern="^\d{11}$" 
        [(ngModel)]="addContect.phone"
        #phone="ngModel"
        name="phone"
        [ngClass]="{
          'is-invalid': (phone.touched || phone.dirty) && !phone.valid
        }"
        />
        <!-- //validation on contact -->
        <span class="invalid-feedback mb-3">
          <span *ngIf="phone.errors?.['required']"> please enter a Egyptian Number </span>
          <span *ngIf="phone.errors?.['pattern']">
            please enter a valid phone
          </span>
        </span>
        <button
          type="submit"
          [disabled]="form.form.invalid"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>

      <div
        class="info-contact col-lg-4 col-sm-12 align-self-center text-lg-start text-sm-center mr-3"
      >
        <div class="mail d-flex align-items-between gap-4 mb-4">
          <i class="fa fs-3 fa-envelope"></i>
          <div class="h5 mb-0">upskilling.eg1@gmail.com</div>
        </div>
        <div class="number d-flex align-items-center gap-4">
          <i class="fa fs-3 fa-phone"></i>
          <div class="h5 mb-0">+20 115 493 2137</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form  #form="ngForm" (ngSubmit)="addContact()">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name"
        name="name" [(ngModel)] = "addContect.name">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email"
        name="email" [(ngModel)] = "addContect.email">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="phone"
        name="phone" [(ngModel)] = "addContect.phone">
      </div>
    <button type="submit">Submit</button>
  </form> -->
<!-- end contact section -->
